In [1]:
import pandas as pd

In [2]:
#D&D Random Player comps csv
Dnd_csv = "DnD_Chrctr_Comps.csv"

In [3]:
DnD_Random_Character_all_df = pd.read_csv(Dnd_csv, encoding="UTF-8")

In [4]:
DnD_Random_Character_all_df.head()

,First,Last,Class,Level,Race,Age,Ht (cm),Wt (kg),ArmC,Initv,...,Med,Prcp,Surv,Chrsm,ChrsmB,Dec,Intmd,Perfo,Persu,PartyNo
0,Adrik,Brewfinger,Monk,1,Hill Dwarf,244,137,72,14,2,...,2,2,2,13,1,1,1,1,1,1
1,Brocc,Fimebs,Barbarian,1,Forest Gnome,61,99,21,15,2,...,1,3,3,12,1,1,1,1,1,1
2,Kanithar,Chien,Barbarian,1,Human,22,163,85,13,1,...,2,2,0,10,0,0,0,0,0,1
3,Brocc,Nackle,Cleric,1,Rock Gnome,84,102,22,18,1,...,4,4,4,11,0,2,0,0,2,1
4,Merric,Goodbody,Paladin,1,Lightfoot Halfling,26,76,19,18,0,...,-1,1,-1,16,3,3,3,3,3,1

In [5]:
DnD_Random_Character_all_df.dtypes

First      object
Last       object
Class      object
Level       int64
Race       object
Age         int64
Ht (cm)     int64
Wt (kg)     int64
ArmC        int64
Initv       int64
Spd         int64
HP          int64
Prfc        int64
Str         int64
StrB        int64
Athl        int64
Dex         int64
DexB        int64
Acro        int64
SoH         int64
Stl         int64
Const       int64
ConstB      int64
Intel       int64
IntelB      int64
Arca        int64
Hst         int64
Invst       int64
Ntr         int64
Rlgn        int64
Wis         int64
WisB        int64
AnmH        int64
Insgt       int64
Med         int64
Prcp        int64
Surv        int64
Chrsm       int64
ChrsmB      int64
Dec         int64
Intmd       int64
Perfo       int64
Persu       int64
PartyNo     int64
dtype: object

In [6]:
demographic_df = DnD_Random_Character_all_df.loc[0:20, [
    "First", "Last", "Class", "Level", "Race", "Age", "Ht (cm)", "Wt (kg)"
]]

In [7]:
demographic_df.head()

,First,Last,Class,Level,Race,Age,Ht (cm),Wt (kg)
0,Adrik,Brewfinger,Monk,1,Hill Dwarf,244,137,72
1,Brocc,Fimebs,Barbarian,1,Forest Gnome,61,99,21
2,Kanithar,Chien,Barbarian,1,Human,22,163,85
3,Brocc,Nackle,Cleric,1,Rock Gnome,84,102,22
4,Merric,Goodbody,Paladin,1,Lightfoot Halfling,26,76,19

In [8]:
core_stats_df = DnD_Random_Character_all_df.loc[0:20, [
    "First", "Last", "Class", "Race", "ArmC", "Initv", "Spd", "HP"
]]

In [9]:
core_stats_df.head()

      First        Last      Class                Race  ArmC  Initv  Spd  HP
0     Adrik  Brewfinger       Monk          Hill Dwarf    14      2   25  11
1     Brocc      Fimebs  Barbarian        Forest Gnome    15      2   25  14
2  Kanithar       Chien  Barbarian               Human    13      1   30  14
3     Brocc      Nackle     Cleric          Rock Gnome    18      1   25  10
4    Merric    Goodbody    Paladin  Lightfoot Halfling    18      0   25  10

In [11]:
strength_df = DnD_Random_Character_all_df.loc[0:20, [
    "First", "Last", "Class", "Race", "Str", "StrB", "Athl"
]]

In [12]:
strength_df.head()

      First        Last      Class                Race  Str  StrB  Athl
0     Adrik  Brewfinger       Monk          Hill Dwarf   12     1     1
1     Brocc      Fimebs  Barbarian        Forest Gnome   16     3     5
2  Kanithar       Chien  Barbarian               Human   11     0     2
3     Brocc      Nackle     Cleric          Rock Gnome   16     3     3
4    Merric    Goodbody    Paladin  Lightfoot Halfling   15     2     4

In [13]:
dexterity_df = DnD_Random_Character_all_df.loc[0:20, [
    "First", "Last", "Class", "Race", "Dex", "DexB", "Acro", "SoH", "Stl"
]]

In [14]:
dexterity_df.head()

,First,Last,Class,Race,Dex,DexB,Acro,SoH,Stl
0,Adrik,Brewfinger,Monk,Hill Dwarf,15,2,4,4,4
1,Brocc,Fimebs,Barbarian,Forest Gnome,15,2,2,2,2
2,Kanithar,Chien,Barbarian,Human,12,1,1,1,1
3,Brocc,Nackle,Cleric,Rock Gnome,12,1,1,1,3
4,Merric,Goodbody,Paladin,Lightfoot Halfling,10,0,0,0,0

In [15]:
constitution_df = DnD_Random_Character_all_df.loc[0:20, [
    "First", "Last", "Class", "Race", "Const", "ConstB"
]]

In [16]:
constitution_df.head()

      First        Last      Class                Race  Const  ConstB
0     Adrik  Brewfinger       Monk          Hill Dwarf     15       2
1     Brocc      Fimebs  Barbarian        Forest Gnome     16       3
2  Kanithar       Chien  Barbarian               Human     15       2
3     Brocc      Nackle     Cleric          Rock Gnome     15       2
4    Merric    Goodbody    Paladin  Lightfoot Halfling     11       0

In [17]:
intelligence_df = DnD_Random_Character_all_df.loc[0:20, [
    "First", "Last", "Class", "Race", "Intel", "IntelB", "Arca", "Hst", "Invst", "Ntr", "Rlgn"
]]

In [18]:
intelligence_df.head()

,First,Last,Class,Race,Intel,IntelB,Arca,Hst,Invst,Ntr,Rlgn
0,Adrik,Brewfinger,Monk,Hill Dwarf,12,1,1,1,1,1,3
1,Brocc,Fimebs,Barbarian,Forest Gnome,14,2,2,2,2,2,2
2,Kanithar,Chien,Barbarian,Human,7,-2,-2,0,-2,-2,0
3,Brocc,Nackle,Cleric,Rock Gnome,9,-1,-1,-1,-1,-1,-1
4,Merric,Goodbody,Paladin,Lightfoot Halfling,6,-2,-2,-2,-2,-2,0

In [19]:
wisdom_df = DnD_Random_Character_all_df.loc[0:20, [
    "First", "Last", "Class", "Race", "Wis", "WisB", "AnmH", "Insgt", "Med", "Prcp", "Surv"
]]

In [20]:
wisdom_df.head()

,First,Last,Class,Race,Wis,WisB,AnmH,Insgt,Med,Prcp,Surv
0,Adrik,Brewfinger,Monk,Hill Dwarf,15,2,2,2,2,2,2
1,Brocc,Fimebs,Barbarian,Forest Gnome,12,1,3,1,1,3,3
2,Kanithar,Chien,Barbarian,Human,11,0,0,0,2,2,0
3,Brocc,Nackle,Cleric,Rock Gnome,18,4,4,6,4,4,4
4,Merric,Goodbody,Paladin,Lightfoot Halfling,9,-1,-1,1,-1,1,-1

In [21]:
charisma_df = DnD_Random_Character_all_df.loc[0:20, [
    "First", "Last", "Class", "Race", "Chrsm", "ChrsmB", "Dec", "Intmd", "Perfo", "Persu"
]]

In [22]:
charisma_df.head()

,First,Last,Class,Race,Chrsm,ChrsmB,Dec,Intmd,Perfo,Persu
0,Adrik,Brewfinger,Monk,Hill Dwarf,13,1,1,1,1,1
1,Brocc,Fimebs,Barbarian,Forest Gnome,12,1,1,1,1,1
2,Kanithar,Chien,Barbarian,Human,10,0,0,0,0,0
3,Brocc,Nackle,Cleric,Rock Gnome,11,0,2,0,0,2
4,Merric,Goodbody,Paladin,Lightfoot Halfling,16,3,3,3,3,3